<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Code</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/viewStyle.css}" rel="stylesheet">
</head>
<body>
<div>
    <!--/*@thymesVar id="code" type="platform.Models.Code"*/-->
    <span id="load_date" th:text="${code.getDate()}">
    </span>
    <!--/*@thymesVar id="exCode" type="platform"*/-->
    <pre id="code_snippet" th:text="${code.getCode()}">
    </pre>
</div>
</body>
</html>